@font-face {
    font-family: CGPfont;
    src: url("font/ADAM.CG_PRO.otf") format("opentype");
}

body { 
  background: url('bkg/bkg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat Alternates';font-size: 22px;
}

#main{
background-color:rgba(0, 0, 0, 0.67);
width:75%;
height: 87%;
color:#e1e4ea;
overflow :auto;
}
h1 {
font-size:120px;
font-family:'CGPfont';
letter-spacing: 20px;
}
h2 {
font-size:80px;
font-family:'CGPfont';
letter-spacing: 5px;
}

hr {
    margin-left: 10% !important;
	margin-right: 10% !important;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#onglet { 
	margin-top : 18%;
	margin-bottom : 18%;
	font-size:22px;
}
/*#onglet_2 { 
	margin-top : 10%;
	font-size:24px;
	*/
}
#hr_menu {
	
	width : 80%;
}

.arrow-left {
	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 130px 285px 0 0;
	border-color: rgba(255, 255, 255, 0.7) transparent transparent transparent;
	position : absolute;
	z-index:-1;

	
}

.arrow-right {
	
width: 0;
height: 0;
border-style: solid;
border-width: 0 285px 130px 0;
position : absolute;
z-index:-1;
border-color: transparent rgba(255, 255, 255, 0.7) transparent transparent;
top : 0px;
right : 0px;
	
}

#fl { 
top : 25px;
right : 1%;
position : absolute;
border-radius: 15px;
}

#fl0 { 
top : 25px;
right : 4%;
position : absolute;
border-radius: 15px;
}

#footer {
  text-align: center;
  margin: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
  font-family: Montserrat Alternates;
  font-size : 15px;
  letter-spacing: 3px;
  padding: 5px;
  color:#e1e4ea;
  transition: margin-left .5s;
  height: 30px;
}

#p_al {
  text-align: justify;
  margin-left: 5%;
	margin-right: 5%;
}
p {
  transition: margin-left .5s;
}

.form-control {
	width: 20%;
}
.form {
	margin-top : 50px;
}
.btn-primary {
	max-width: 15%;
}

.btn_menu2 {
	background-color : #111;
	border : none;
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.btn_menu2:hover {
	transition: 0.3s;
	color: #f1f1f1;
	text-decoration: underline;
	touch-action: manipulation;
	cursor:pointer;
}

#cont_2 {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
}

select {
	
	font-size: 30px;
	color : #e5e5e5;
}

#opt {
	
	font-family: 'Montserrat Alternates';
	font-size: 30px;
}

.btnsearch {
	
	margin-left: 30%;
margin-right: 30%;
padding: 5px;
color: #e5e5e5;
border: 1px solid transparent;
border-radius: .25rem;
width : 10%;
	
}

.btnsearch:hover {background-color: #21486b;}

#titre_long {
 max-width : 70%;
}

/*Menu CSS*/

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

#menuspan{
	font-size:30px;
	cursor:pointer;
	padding:15px;
	margin-top:3px;
	display:inline-block;
}









